
extends ../layout

block content
  h1 Add New Recipe
  title = post ? recipe.title
  author = post ? recipe.author
  prep_time = post ? recipe.prep_time
  instructions = post ? recipe.instructions
  form(method="post", action=post ? "/recipe/update/"+recipe.id : "/recipe/create")
    ul
      li
        label(for="title") Title
        input#title(name='title', placeholder=" Your Recipe Name", type="text", value=title)
      li
        label(for="author") Author
        input#author(name='author', placeholder=" Author Name", type="text", value=author)
      li
        label(for="prep_time") Preparation Time
        input#prep_time(name='prep_time', placeholder="" # minutes"", type="number", value=prep_time)
      h3 Ingredients
      li
        input#ing_1(name='ing_1_num', type="number", placeholder=" # of ")
        select(id=ing_1, name='ing_1_units')
          option(value="") -- Select Unit --
          option cups
          option tbsp
          option tsp
          option oz
          option lb(s)
          option kg
          option inch(es)
          option fl oz
        input#ing_1(name='ing_1_thing', type="text", placeholder=" Type ")
        //TODO - automate adding an ingredient input line
        button#add_ing(name='add_ing') Add More
      li
        input#ing_2(name='ing_2_num', type="text", placeholder=" # of ")
        select(id=ing_2, name='ing_2_units')
          option(value="") -- Select Unit --
          option cups
          option tbsp
          option tsp
          option oz
          option lb(s)
          option kg
          option inch(es)
          option fl oz
        input#ing_2(name='ing_2_thing', type="text", placeholder=" Type ")
      li
        input#ing_3(name='ing_3_num', type="text", placeholder=" # of ")
        select(id=ing_3, name='ing_3_units')
          option(value="") -- Select Unit --
          option cups
          option tbsp
          option tsp
          option oz
          option lb(s)
          option kg
          option inch(es)
          option fl oz
        input#ing_3(name='ing_3_thing', type="text", placeholder=" Type ")
      li
        label(for="instructions") Instructions
        textarea#title(name='instructions', placeholder=" Your instructions here...")=instructions
      li
        input(type="submit", value="Save")
