
extends ../layout

block content
  .container
    +nav("Crudite", "dropdown_menu")
      +nav_item( "/", "inactive" ) Home
      +nav_item("/recipe/create", "inactive") Add New
      +nav_item("/planner", "inactive") Meal Planner
      form(class="navbar-form navbar-left", role="search", method="post", action=post ? "/search" : "/search")
        div(class="form-group")
          input(name="searchinput" type="text" class="form-control", placeholder="Search")
        button#search(type="submit", class="btn btn-default") Submit
  //title = post ? recipe.title
  //author = post ? recipe.author
  //prep_time = post ? recipe.prep_time
  //instructions = post ? recipe.instructions
  .container
    form(action="/recipe/update/" + recipe.id, method="post", name='update_recipe',enctype='application/x-www-form-urlencoded')
      div(class="row")
        div(class="col-md-8")
          label(for="title") Title
          input#title(name='title', placeholder=" Your Recipe Name", type="text", value=recipe.title)
      div(class="row")
        div(class="col-md-8")
          label(for="author") Author
          input#author(name='author', placeholder=" Author Name", type="text", value=recipe.author)
      div(class="row")
        div(class="col-md-8")
          label(for="prep_time") Preparation Time
          input#prep_time(name='prep_time', placeholder=" # minutes", type="number", value=recipe.prep_time)
      div(class="row")
        div(class="col-md-12")
          fieldset
            legend Ingredients
              mixin ing-li-item(name1, name2, name3, ingNumValue, ingUnitValue, ingThingValue)
                div(class="row")
                  div(class="col-md-8")
                    input#ing(class="inginput1" name=name1, type="number", value=ingNumValue)
                    select(class="inginput2", name=name2)
                      option(value=ingUnitValue) -- Select Unit --
                      option cups
                      option tbsp
                      option tsp
                      option oz
                      option lb(s)
                      option kg
                      option inch(es)
                      option fl oz
                    input#ing_1(class="inginput3" name=name3, type="text", value=ingThingValue)
              each ingredient, index in recipe.ingredients
                +ing-li-item("ing_#{index}_num", "ing_#{index}_units", "ing_#{index}_thing", ingredient.num, ingredient.unit, ingredient.thing)
      div(class="row")
        div(class="col-md-8")
          label(for="instructions") Instructions
          textarea#title(name='instructions')=recipe.instructions
      div(class="row")
        div(class="col-md-8")
          label(for="category") Category
          select(name="category")
            option entree
            option raw
            option soups/stews
            option slow cooker
            option asian
            option side
      div(class="row")
        div(class="col-md-8")
          button#update_submit(class="btn btn-xs btn-success", type='submit') Update
          button#update_cancel(class="btn btn-xs btn-warning", action="/", type='submit') Cancel
