
extends ../layout

block content
  .container
    +nav("Crudite", "dropdown_menu")
      +nav_item( "/", "inactive" ) Home
      +nav_item("/recipe/create", "inactive") Add New
      +nav_item("/planner", "inactive") Meal Planner
      form(class="navbar-form navbar-left", role="search", method="post", action=post ? "/search" : "/search")
        div(class="form-group")
          input(name="searchinput" type="text" class="form-control", placeholder="Search")
        button#search(type="submit", class="btn btn-default") Submit
  //title = post ? recipe.title
  //author = post ? recipe.author
  //prep_time = post ? recipe.prep_time
  //instructions = post ? recipe.instructions
  .container(class="edit-container")
    form(action="/recipe/update/" + recipe.id, method="post", name='update_recipe',enctype='application/x-www-form-urlencoded')
      div(class="row")
        h3
          span(class="label label-primary col-xs-3") Title
        span(class="col-xs-1")
        input#title(name='title', placeholder=" Your Recipe Name", type="text", value=recipe.title)
      div(class="row")
        h3
          span(class="label label-primary col-xs-3") Author
        span(class="col-xs-1")
        input#author(name='author', placeholder=" Author Name", type="text", value=recipe.author)
      div(class="row")
        h3
          span(class="label label-primary col-xs-3") Preparation Time
        span(class="col-xs-1")
        input#prep_time(name='prep_time', placeholder=" # minutes", type="number", value=recipe.prep_time)
      div(class="row ingredients-input-group")
        fieldset(id="ing-input-sub-group")
          h3
            legend(class="label label-success col-xs-12") Ingredients
          div(class="row ing-input-labels")
            span(class="col-xs-1")
            span(class="col-xs-1") Number
            span(class="col-xs-1")
            span(class="col-xs-3") Unit
            span(class="col-xs-1")
            span(class="col-xs-4") Ingredient
            span(class="col-xs-1")
          mixin ing-li-item(name1, name2, name3, ingNumValue, ingUnitValue, ingThingValue)
            div(class="row ing-input-wrapper")
              span(class="col-xs-1")
              input#ing(class="inginput1 col-xs-1" name=name1, placeholder=" # of ", value=ingNumValue)
              span(class="col-xs-1")
              select(class="inginput2 col-xs-3", name=name2, value=ingUnitValue)
                - var ingOpts = [null, 'cups', 'tbsp', 'tsp', 'oz', 'lb(s)', 'kg', 'inch(es)', 'fl oz']
                for opt in ingOpts 
                  option(selected=ingUnitValue == opt) #{opt}
              span(class="col-xs-1")
              input#ing_1(class="inginput3 col-xs-4" name=name3, type="text", placeholder=" Type ", value=ingThingValue)
              span(class="col-xs-1")
          each ingredient, index in recipe.ingredients
            +ing-li-item("ing_" + index + "_num", "ing_" + index + "_units", "ing_" + index + "_thing", ingredient.num, ingredient.unit, ingredient.thing)
          
          -for (var x = recipe.ingredients.length; x < 20; x++)
            +ing-li-item("ing_" + x + "_num", "ing_" + x + "_units", "ing_" + x + "_thing")
          div(class="row" id="add-more-wrapper")
            span(class="col-xs-4")
            button#add_ing_rows(class="btn btn-md btn-info col-xs-4", type='button') Add More
            span(class="col-xs-4")
      div(class="row category-input-group")
        h3
          span(class="col-xs-3 label label-primary") Category
        span(class="col-xs-1")
        select(class="col-xs-4" name="category", value=recipe.category)
          - var catOps = [null, 'entree', 'raw', 'soups/stews', 'slow cooker', 'salads', 'asian', 'side']
          for opt in catOps 
            option(selected=recipe.category == opt) #{opt}
      div(class="row instructions-input-group")
        h3
          span(class="col-xs-3 label label-primary") Instructions
        span(class="col-xs-1")
        textarea#create-instructions(class="col-xs-6" name='instructions')=recipe.instructions
      div(class="row create-button-group")
        button#update_submit(class="btn btn-md btn-success col-xs-4", type='submit') Update
        span(class="col-xs-4")
        button#update_cancel(class="btn btn-md btn-warning col-xs-4", action="/", type='submit') Cancel
