
extends ../layout

block content
  .container
    +nav("Crudite", "dropdown_menu")
      +nav_item( "/", "inactive" ) Home
      +nav_item("/recipe/create", "inactive") Add New
      +nav_item("/planner", "inactive") Meal Planner
      form(class="navbar-form navbar-left", role="search", method="post", action=post ? "/search" : "/search")
        div(class="form-group")
          input(name="searchinput" type="text" class="form-control", placeholder="Search")
        button#search(type="submit", class="btn btn-default") Submit
  .container
    div(class="row")
      span(class="col-md-12")
        h2(class="recipe-title")=recipe.title
    div(class="row")
      span(class="col-md-6")
        h3(class="recipe-author")="Created by " + recipe.author
      span(class="col-md-6")
        h3(class="recipe-prep-time")=recipe.prep_time + " minutes"
    each ingredient in recipe.ingredients
      div(class="row")
        span(class="col-md-12")
          p(class="recipe-ingredient")=ingredient.num + " " + ingredient.unit + " " + ingredient.thing
    div(class="row")
      span(class="col-md-12")
        p(class="recipe-instructions")=recipe.instructions
    div(class="row")
      span(class="col-md-2")
      span(class="col-md-4")
        form(method="get", action="/recipe/update/" + recipe.id)
          button#edit(name="upd_recipe" class="btn btn-md btn-warning col-xs-4") Edit
      span(class="col-md-2")
      span(class="col-md-4")
        form(method="post", action="/recipe/delete/" + recipe.id)
          button#del(name="del_recipe" class="btn btn-md btn-danger col-xs-4") Delete
