
extends ../layout

block content
  .container
    +nav("Crudite", "dropdown_menu")
      +nav_item( "/", "inactive" ) Home
      +nav_item("/recipe/create", "inactive") Add New
      +nav_item("/planner", "inactive") Meal Planner
      form(class="navbar-form navbar-left", role="search" method="post")
        div(class="form-group")
          input(name="searchinput" type="text" class="form-control", placeholder="Search")
        button#search(type="submit", class="btn btn-default") Submit
  .container
    h2=recipe.title
    p="Created by " + recipe.author
    p=recipe.prep_time + " minutes"
    each ingredient in recipe.ingredients
      p=ingredient.num+" "+ingredient.unit+" "+ingredient.thing
    p=recipe.instructions
    form(method="post", action="/recipe/delete/" + recipe.id)
      button#del(name="del_recipe") Delete
    form(method="get", action="/recipe/update/" + recipe.id)
      button#edit(name="upd_recipe") Edit
